<!DOCTYPE html>
{% extends 'base.html'%} {% block content %}
<h1>User Details</h1>
<p>Username: {{user.username}}</p>
<p>First Name: {{user.first_name}}</p>
<p>Last Name: {{user.last_name}}</p>
<p>Email: {{user.email}}</p>
<form action="/users/{{user.id}}/delete" method="POST">
  <button>Delete User</button>
</form>
<br />
<h2>Current Feedback</h2>
<form action="/users/{{user.id}}/feedback/add">
  <button>Create Feedback</button>
</form>
<br />
{%for feedback in feedbacks%}
<p><a href="/feedback/{{feedback.id}}/update">{{feedback.title}}</a></p>
{%endfor%} {%endblock%}
