<!DOCTYPE html>
{% extends 'base.html'%} {% block content %}
<h1>User Details</h1>
<p>Username: {{user.username}}</p>
<p>First Name: {{user.first_name}}</p>
<p>Last Name: {{user.last_name}}</p>
<p>Email: {{user.email}}</p>
<form action="/users/{{user.id}}/delete" method="POST">
  <button>Delete User</button>
</form>
<br />
<h2>Current Feedback</h2>
<form action="/users/{{user.id}}/feedback/add">
  <button>Create Feedback</button>
</form>
<br />
{% for feedback in feedbacks %}
<div class="row">
  <div class="col-md-8">
    <p><strong>{{ feedback.title }}</strong></p>
  </div>
  <div class="col-md-2">
    <a href="/feedback/{{feedback.id}}/update" class="btn btn-info">Edit</a>
  </div>
  <div class="col-md-2">
    <form action="/feedback/{{feedback.id}}/delete" method="POST">
      <button class="btn btn-danger">Delete</button>
    </form>
  </div>
</div>
{% endfor %} {%endblock%}
